.container {
    display: flex;
    justify-content: space-evenly;
}

.sidebar {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

#palette-canvas {
    border: 1px solid black;
}

#cyclingSpeedSlider {
    width: 70%;
}
